[submodule "site-lisp/o2jk"]
	path = site-lisp/o2jk
	url = git@github.com:kimim/o2jk.git
[submodule "site-lisp/pdf-view-pagemark"]
	path = site-lisp/pdf-view-pagemark
	url = git@github.com:kimim/pdf-view-pagemark.git
[submodule "site-lisp/cns"]
	path = site-lisp/cns
	url = git@github.com:kanglmf/emacs-chinese-word-segmentation.git
[submodule "site-lisp/blink-search"]
	path = site-lisp/blink-search
	url = git@github.com:manateelazycat/blink-search.git
[submodule "site-lisp/emacs-hippo-theme"]
	path = site-lisp/emacs-hippo-theme
	url = git@github.com:kimim/emacs-hippo-theme.git
[submodule "site-lisp/nine-grid"]
	path = site-lisp/nine-grid
	url = git@github.com:kimim/nine-grid.git
[submodule "site-lisp/wraplish"]
	path = site-lisp/wraplish
	url = git@github.com:manateelazycat/wraplish.git
[submodule "site-lisp/awesome-tray"]
	path = site-lisp/awesome-tray
	url = git@github.com:manateelazycat/awesome-tray.git
[submodule "site-lisp/lsp-snippet"]
	path = site-lisp/lsp-snippet
	url = git@github.com:svaante/lsp-snippet.git
[submodule "site-lisp/ts-fold"]
	path = site-lisp/ts-fold
	url = git@github.com:emacs-tree-sitter/ts-fold.git
[submodule "site-lisp/sdcv"]
	path = site-lisp/sdcv
	url = git@github.com:manateelazycat/sdcv.git
[submodule "site-lisp/sdcv-dict"]
	path = site-lisp/sdcv-dict
	url = git@github.com:kimim/sdcv-dict.git
[submodule "site-lisp/ob-bb"]
	path = site-lisp/ob-bb
	url = git@github.com:kimim/ob-bb.git
[submodule "site-lisp/chatu"]
	path = site-lisp/chatu
	url = git@github.com:kimim/chatu.git
