.DS_Store
*.elc
README.el
README.pdf
README.tex
README.html
README.odt
README.bbl
README.pyg
README.aux
README.log
README.out
README.bcf
README.fdb_latexmk
README.fls
README.xdv
README.blg
README.run.xml
references.bib
references.back*
_minted-*
/.clj-kondo/
/.lsp/
